@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9842 0.0034 247.8575);
	--foreground: oklch(0.1363 0.0364 259.201);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.1363 0.0364 259.201);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.1363 0.0364 259.201);
	--primary: oklch(0.7038 0.123 182.5025);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9288 0.0126 255.5078);
	--secondary-foreground: oklch(0.1363 0.0364 259.201);
	--muted: oklch(0.9683 0.0069 247.8956);
	--muted-foreground: oklch(0.5544 0.0407 257.4166);
	--accent: oklch(0.9288 0.0126 255.5078);
	--accent-foreground: oklch(0.1363 0.0364 259.201);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(0.9842 0.0034 247.8575);
	--border: oklch(0.9288 0.0126 255.5078);
	--input: oklch(0.9288 0.0126 255.5078);
	--ring: oklch(0.7107 0.0351 256.7878);
	--chart-1: oklch(0.5854 0.2041 277.1173);
	--chart-2: oklch(0.6559 0.2118 354.3084);
	--chart-3: oklch(0.7686 0.1647 70.0804);
	--chart-4: oklch(0.6959 0.1491 162.4796);
	--chart-5: oklch(0.6268 0.2325 303.9004);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.1363 0.0364 259.201);
	--sidebar-primary: oklch(0.7038 0.123 182.5025);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9288 0.0126 255.5078);
	--sidebar-accent-foreground: oklch(0.1363 0.0364 259.201);
	--sidebar-border: oklch(0.9288 0.0126 255.5078);
	--sidebar-ring: oklch(0.7107 0.0351 256.7878);
	--font-sans: var(--font-figtree);
	--font-mono: monospace;
	--radius: 0.25rem;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1363 0.0364 259.201);
	--foreground: oklch(0.9842 0.0034 247.8575);
	--card: oklch(0.1363 0.0364 259.201);
	--card-foreground: oklch(0.9842 0.0034 247.8575);
	--popover: oklch(0.1363 0.0364 259.201);
	--popover-foreground: oklch(0.9842 0.0034 247.8575);
	--primary: oklch(0.7038 0.123 182.5025);
	--primary-foreground: oklch(0.1363 0.0364 259.201);
	--secondary: oklch(0.2795 0.0368 260.031);
	--secondary-foreground: oklch(0.9842 0.0034 247.8575);
	--muted: oklch(0.2795 0.0368 260.031);
	--muted-foreground: oklch(0.7107 0.0351 256.7878);
	--accent: oklch(0.2795 0.0368 260.031);
	--accent-foreground: oklch(0.9842 0.0034 247.8575);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(0.9842 0.0034 247.8575);
	--border: oklch(0.3717 0.0392 257.287);
	--input: oklch(0.3717 0.0392 257.287);
	--ring: oklch(0.5544 0.0407 257.4166);
	--chart-1: oklch(0.5854 0.2041 277.1173);
	--chart-2: oklch(0.6559 0.2118 354.3084);
	--chart-3: oklch(0.7686 0.1647 70.0804);
	--chart-4: oklch(0.6959 0.1491 162.4796);
	--chart-5: oklch(0.6268 0.2325 303.9004);
	--sidebar: oklch(0.2077 0.0398 265.7549);
	--sidebar-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-primary: oklch(0.7038 0.123 182.5025);
	--sidebar-primary-foreground: oklch(0.1363 0.0364 259.201);
	--sidebar-accent: oklch(0.3717 0.0392 257.287);
	--sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-border: oklch(0.3717 0.0392 257.287);
	--sidebar-ring: oklch(0.5544 0.0407 257.4166);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);

	--radius-sm: calc(var(--radius) - 2px);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius) + 2px);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
